<ul class="pagination" v-if="getPagesCount > 1">
    <li class="page-item prev" :class="{ disabled: currentPage == 1 }">
        <a href="#" class="page-link" @click.prevent="backward()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="15 6 9 12 15 18"></polyline></svg>
        </a>
    </li>
    <li class="page-item" :class="{active: item.number == currentPage }" v-for="item in getPagesItems" v-if="total">
        <span v-if="item.type == TYPE_SEPARATOR">{{ item.caption }}</span>
        <a href="#" class="page-link" v-if="item.type == TYPE_PAGE" @click.prevent="jump(item.number)">{{ item.caption }}</a>
    </li>
    <li class="page-item next" :class="{ disabled: currentPage == getPagesCount || count < perpage }">
        <a href="#" class="page-link" @click.prevent="forward()">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="9 6 15 12 9 18"></polyline></svg>
        </a>
    </li>
</ul>
