<div class="card">
    <form @submit.prevent="submit">
        <div class="card-body row">
            <div class="col-lg-3 col-md-12 p-2">
                <div class="form-group row">
                    <label class="form-label col-3 col-form-label text-end"><small>Age:</small></label>
                    <div class="col">
                        <form-select v-model="formData.age_group" :mapping="ageGroupOptions"></form-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 p-2">
                <div class="form-group row">
                    <label class="form-label col-3 col-form-label text-end"><small>Region:</small></label>
                    <div class="col">
                        <form-select v-model="formData.region" :mapping="regionOptions"></form-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 p-2">
                <div class="form-group row">
                    <label class="form-check m-2">
                        <input type="checkbox" true-value="1" false-value="0" v-model="formData.is_assembled" class="form-check-input">
                        <span class="form-check-label">Assembled Teams</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 p-2 text-center">
                <button class="btn btn-primary">Apply Filter</button>
            </div>
        </div>
    </form>
</div>